body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    margin: 150px;
}

.container {
    width: 50%;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;

}

button {
    margin-top: 10px;
    padding: 8px 15px;
    cursor: pointer;
}


.hero-one {
    padding: 23px;
}

.mt-5 {
    margin-top: 10rem !important;
}

.form-select {
    border-radius: 8px;
    padding: 10px 14px;
    font-size: 16px;

    border: 2px solid #d0d7de;
    background-color: #fff;

    transition:
        border-color 0.25s ease,
        box-shadow 0.25s ease,
        background-color 0.25s ease;

    outline: none;
    cursor: pointer;

    
    -webkit-tap-highlight-color: transparent;
}


.form-select:hover {
    border-color: #a0a8b0;
}


.form-select:focus {
    border-color: #4f8cff;
    box-shadow: 0 0 0 4px rgba(79, 140, 255, 0.25);
    background-color: #fff;
}


.form-select::-ms-expand {
    display: none;
}


